<!DOCTYPE html>
<html>
<head></head>
    <link rel= "stylesheet" href="/css/style.css">
   
<body>
    {{>header}}
    {{helptext}}
    {{>footer}}
    <form>
        <input placeholder="location">
        <button>Search</button>
    </form>
    <p id="message-1"></p>
    <p id="message-2"></p>
</body>
 <script src="/js/app.js"></script>

</html>